In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('play_tennis.csv')
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [6]:
df.drop(columns=['day'], inplace=True)
df.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [7]:
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [12]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [13]:
py = 9/14
pn = 5/14

print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [15]:
pd.crosstab(df['outlook'], df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [19]:
pon = 0
prn = 2/5
psn = 3/5

poy = 4/9
pry = 3/9
psy = 2/9

In [16]:
pd.crosstab(df['temp'], df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [21]:
pcooln = 1/5
photn = 2/5
pmildn = 2/5

pcooly = 3/9
photy = 2/9
pmildy = 4/9

In [17]:
pd.crosstab(df['humidity'], df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [22]:
phn = 4/5
pnn = 1/5

phy = 3/9
pny = 6/9

In [18]:
pd.crosstab(df['wind'], df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [24]:
pstrongn = 3/5
pweakn = 2/5

pstrongy = 3/9
pweaky = 6/9

In [8]:
# Problem-1

# outlook=Sunny, temp=Hot, humidity=High, wind=Weak
# Play or not?

In [9]:
# Solution

# P(Sunny, Hot, High, Weak | Yes) = P(Sunny|Yes)*P(Hot|Yes)*P(High|Yes)*P(Weak|Yes)*P(Yes)
# P(Sunny, Hot, High, Weak | No) = P(Sunny|No)*P(Hot|No)*P(High|No)*P(Weak|No)*P(No)

In [26]:
pshhwy = psy * photy * phy * pweaky * py
pshhwn = psn * photn * phn * pweakn * pn
print("Probability of yes: ", pshhwy)
print("Probability of no: ", pshhwn)
print(pshhwy) if pshhwy>pshhwn else print(pshhwn)

Probability of yes:  0.007054673721340387
Probability of no:  0.02742857142857143
0.02742857142857143

In [29]:
# Problem-2

# outlook=Overcast, temp=Cold, humidity=Normal, wind=Weak
# play or not?

In [28]:
# Solution

# P(Overcast, Cold, Low, Weak | Yes) = P(Overcast|Yes)*P(Cold|Yes)*P(Normal|Yes)*P(Weak|Yes)*P(Yes)
# P(Overcast, Cold, Low, Weak | No) = P(Overcast|No)*P(Cold|No)*P(Normal|No)*P(Weak|No)*P(No)

In [30]:
poclwy = poy * pcooly * pny * pweaky * py
poclwn = pon * pcooln * pnn * pweakn * pn
print(poclwy)
print(poclwn)
print(poclwy) if poclwy>poclwn else print(poclwn)

0.042328042328042326
0.0
0.042328042328042326